.block-wrapper {
    text-align: center;
    padding: 0 !important;
}

.block-wrapper a {
    overflow: hidden;
}

.item {
    display: inline-block;
    padding: 0 !important;
}

.item:nth-child(1){
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.item:nth-child(4){
    margin-right: 0 !important;
    padding-right: 0 !important;
}

@media all and (max-width: 420px) {
    .block-img {
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}

@media all and (min-width: 1024px)  {
    #block0 {
        margin-left: 0;
    }

    #block3 {
        margin-right: 0;
    }

    .block-img {
        width: 95%;
        margin: 0 auto;
        -moz-transition: all 1s ease-out;
        -o-transition: all 1s ease-out;
        -webkit-transition: all 1s ease-out;
    }
}

.introtext {
    position: absolute;
    top: 55%;
    color: #fff;
    padding: 0 6%;
    min-width: 95%;
}

.titleblock {
    padding: 0 15%;
    position: absolute;
    color: #fff;
    top: 15%;
    font-size: 2rem;
    font-weight: 600;
    min-width: 95%;
}

.block-hover {
    width: 100%;
    height: 302px;
    z-index: 50;
    background-color: transparent;
    position: relative;
}

    #ablock0:hover #block0 {
        background-image: url('/images/blocks/block1-hov.png') !important;
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
    }

    #ablock1:hover #block1 {
        background-image: url('/images/blocks/block2-hov.png') !important;
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
    }

    #ablock2:hover #block2 {
        background-image: url('/images/blocks/block3-hov.png') !important;
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
    }

    #ablock3:hover #block3 {
        background-image: url('/images/blocks/block4-hov.png') !important;
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
    }

.item img {
    width: 100%;
    height: 100%;
}

.slider {
    background-color: transparent;
    width: 100%;
    height: 25%;
    margin: 0 !important;
    padding: 0 !important;
    overflow-y: hidden;
    margin-bottom: 10px !important;
}

#txt-slider0, #txt-slider1, #txt-slider2, #txt-slider3 {
    position: absolute;
    color: #fff;
    bottom: 0;
    width: 100%;
    margin: 0;
    background-color: rgba(13, 43, 89, 0.6);
    height: 35%;
    padding: 3% 4%;
    display: none;
}

@media all and (min-width: 1001px){
    .txt-slider {
        font-size: 3.5rem;
    }
}

@media all and (max-width: 1000px) and (min-width: 701px) {
    .txt-slider {
        font-size: 2.5rem;
    }
}

@media all and (max-width: 700px) {
    .txt-slider {
        font-size: 1.2rem;
    }
}

.slide-active {
    display: block !important;
}