body {
    background: black url(../images/bg-bckg.jpg);
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1260px;
    width: 100%;
}





/*------------------------------------*\
    #Шапка (Header)
\*------------------------------------*/
.header {

}


.phone {
    padding: 3% 0 1%;
}
    .phone span {
        display: inline-block;
        /*font-weight: bold;*/
        color: #fff;
        text-decoration: none;
    }

        .phone span a {
            /*font-weight: bold;*/
            color: #fff;
            text-decoration: none;
        }

        .phone span a:hover {
            color: #eae9e9;
            text-decoration: none;
        }

    .phone__phone {
        font-size: 2em;
    }

    .glyphicon-earphone {
        font-size: 1.5em;
        /*display: inline !important;*/
        margin-right: -4%;
    }

    .phone__email {
        font-size: 1.5em;
        padding-left: 14%;
    }


.name {
    background-color: transparent;
    text-align: center;
    height: auto;
    padding: 4% 0 1%;
}

    .name a {
        font-family: 'Open Sans', sans-serif;
        color: #fff;
        text-decoration: none;
        font-weight: 600;
        font-size: 3.5em;
    }

        .name a:hover {
        text-decoration: none;
        color: #eae9e9;
        }


.logo {
    padding: 0;
}





/*------------------------------------*\
    #Контентная часть (Content)
\*------------------------------------*/
.content {
    padding: 0;
}

.blog {
    background-color: #ffffff;
    color: #000;
    margin-bottom: 20px;
    padding: 1% 5% 5% 5%;
}


.item-page {
    background-color: #ffffff;
    color: #000;
    margin-bottom: 20px;
    padding: 5%;
}

.page-header {
    border-bottom: none;
    padding: 0;
    margin: 40px 0 50px;
}

    .page-header h2 {
        font-size: 3rem;
    }

.subheading-category {
    font-size: 4rem;
}

.category-desc {
    width: 60%;
}

    .category-desc h2 {
        font-size: 2.08rem;
        font-weight: bold;
        text-transform: uppercase;
        margin: 25px 0;
    }

    .category-desc p {
        font-size: 1.92rem;
        line-height: 2;
    }

    .category-desc ul {
        font-size: 1.6rem;
        line-height: 2.3;
        margin: 40px 0;
    }


/*Хлебные крошки*/
.breadcrumb {
    margin-bottom: 0;
    border-radius: 0;
    padding: 3% 0 0 5%;
}

/*Страница контактов*/
.page-contacts td {
    vertical-align: top;
}

    .page-contacts td:nth-child(odd) {
        width: 3%;
    }

    .page-contacts td:nth-child(even) {
        width: 47%;
    }

.page-contacts h2 {
    font-size: 2rem;
    margin-top: 5px;
    margin-bottom: 8%;
}

.page-contacts p {
    margin: 0;
    font-size: 1.5rem;
}

    /*Форма обратной связи*/
    .form_back {
        background-color: deepskyblue;
    }


    /*Модуль карты*/
    .map_window {
        height: 300px;
    }


/*------------------------------------*\
    #Подвал (Footer)
\*------------------------------------*/
.footer {
    background-color: transparent;
    height: auto;
}

.inform {
    background-color: transparent;
    padding: 1.2% 0;
}

.contacts {
    background-color: transparent;
    color: #dedede;
    font-size: 110%;
    padding: 4.1% 15px;
    text-shadow:
        -1px -1px 0 red,
        1px -1px 0 red,
        -1px 1px 0 red,
        1px 1px 0 red;
}

.copyright {
    background-color: transparent;
    padding: 0;
}

    .copyright p {
        text-align: right;
        margin: 0;
        color: #dedede;
        font-size: 130%;
        padding: 9.4% 0;
    }

        .copyright p a {
            color: #dedede;
            text-decoration: underline;
        }

        .copyright p a:hover {
            text-decoration: none;
        }





/*------------------------------------*\
    #Главное меню (Main menu)
\*------------------------------------*/
.main-menu {
    width: 74px;
    position: fixed;
    top: 27%;
    right: 0;
    z-index: 100;
}

.nav-pills > li {
    float: right;
    width: 62px;
    height: auto;
    background-color: #fff;
}

.nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background-color: #1e2023;
}

    .nav-pills > li:hover {
        background-color: #1e2023;
        width: 165px;
    }

        .nav-pills > li span {
            display: none;
        }

        .nav-pills > li:hover span {
            display: inline-block;
            max-width: 80px;
        }

        .nav-pills > li a {
            background-color: #fff;
            color: #000;
            border-radius: 0;
            padding: 0;
        }

        .nav-pills > li:hover a {
            background-color: #1e2023;
            color: #fff;
            padding: 0;
        }

            .nav > li > a > img {
                max-width: none;
                padding-right: 5px;
            }