body {
    background: black url(../images/bg-bckg.jpg);
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1260px;
    width: 100%;
}

img {
    margin: 10px;
}





/*------------------------------------*\
    #Шапка (Header)
\*------------------------------------*/
.header {

}


.phone {
    padding: 3% 0 1%;
}
    .phone span {
        display: inline-block;
        /*font-weight: bold;*/
        color: #fff;
        text-decoration: none;
    }

        .phone span a {
            /*font-weight: bold;*/
            color: #fff;
            text-decoration: none;
        }

        .phone span a:hover {
            color: #eae9e9;
            text-decoration: none;
        }

    .phone__phone {
        font-size: 2em;
    }

    .glyphicon-earphone {
        font-size: 1.5em;
        /*display: inline !important;*/
        margin-right: -4%;
    }

    .phone__email {
        font-size: 1.5em;
        padding-left: 14%;
    }


.name {
    background-color: transparent;
    text-align: center;
    height: auto;
    padding: 4% 0 1%;
}

    .name a {
        font-family: 'Open Sans', sans-serif;
        color: #fff;
        text-decoration: none;
        font-weight: 600;
        font-size: 3.5em;
    }

        .name a:hover {
        text-decoration: none;
        color: #eae9e9;
        }


.logo {
    padding: 0;
}

@media all and (max-width: 1000px) {
    .phone {
        text-align: center;
    }
}





/*------------------------------------*\
    #Контентная часть (Content)
\*------------------------------------*/
.content {
    padding: 0;
}

.blog {
    background-color: #DFDFDF;
    color: #000;
    margin-bottom: 20px;
    padding: 1% 5% 5% 5%;
}


.item-page {
    background-color: #DFDFDF;
    color: #000;
    margin-bottom: 20px;
    /*padding: 5%;*/
}

.page-header {
    border-bottom: none;
    padding: 0;
    margin: -20px 0 50px;
}

    .page-header h2 {
        font-size: 3rem;
        margin-left: 5%;
    }

.subheading-category {
    font-size: 4rem;
}

.category-desc {
    /*width: 60%;*/
}

    .category-desc h2, .fulltext h2 {
        font-size: 1.98rem;
        font-weight: bold;
        text-transform: uppercase;
        margin: 25px 0;
    }

    .category-desc p, .fulltext p {
        font-size: 1.82rem;
        line-height: 1.3;
        text-align: justify;
    }

    .category-desc ul {
        font-size: 1.6rem;
        line-height: 2.3;
        margin: 40px 0;
    }

    .category-desc img, .fulltext img {
        height: 200px;
        display: inline-block;
    }

        @media all and (max-width: 1000px) {
            .category-desc img, .fulltext img {
                display: block;
                width: 100%;
                height: auto;
            }
        }

    .flright {
        float: right;
    }


.fulltext {
    padding: 0 5% 5% 5%;
}

    .bodycontacts .fulltext {
        padding: 0;
    }

    .item-pagecontacts {
        background-color: #DFDFDF;
    }

/*Хлебные крошки*/
.breadcrumb {
    margin-bottom: 0;
    border-radius: 0;
    padding: 4% 0 4% 5%;
    background-color: #DFDFDF;
}

/*Страница контактов*/
.page-contacts {
    margin-left: 5%;
    width: 100%;
    margin-bottom: 3%;
}

.page-contacts td {
    vertical-align: top;
}

    .page-contacts td:nth-child(odd) {
        width: 3%;
    }

    .page-contacts td:nth-child(even) {
        width: 47%;
    }

.page-contacts h2 {
    font-size: 2rem;
    margin-top: 5px;
    margin-bottom: 8%;
}

.page-contacts p {
    margin: 0;
    font-size: 1.5rem;
}

    /*Форма обратной связи*/
    .form_back {
        background-color: #0084ff;
        padding: 5% 5% 1% 5%;
    }

    .form_back h3 {
        color: #fff;
        font-size: 3rem;
    }

    input.input, textarea.input {
        background-color: #0084ff;
        color: #95cafb;
        border-radius: 1px;
        border: 1px solid #95cafb;
        padding: 19px 24px;
        width: 100%;
    }

    textarea.input {
        height: 150px;
    }

    input.input:focus, textarea.input:focus {
        color: #fff;
        border: 1px solid #fff;
    }

    .file {
        color: #fff;
    }

        .file label {
            font-size: 1.2rem;
            font-weight: 100;
            margin-bottom: 28px;
        }

            .file label input {
                width: 100%;
                height: auto;
            }

    .field {
        margin-bottom: 30px;
    }

    button.form-send {
        width: 100%;
        background-color: #0084ff;
        border: 1px solid #fff;
        color: #fff;
        border-radius: 1px;
        font-size: 2rem;
        padding: 25px 0;
    }

    button.form-send:hover, button.form-send:active {
        background-color: #fff;
        color: #0084ff;
        font-weight: bold;
    }

    .close {
        display: none;
    }


    /*Модуль карты*/
    .map_window {
        height: 520px;
    }

    .ymaps-2-1-41-ground-pane {
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);
        filter: gray; / IE 6-9 /
    }


/*Слайдер*/
#img-slider, .nav-pills img {
    margin: 0;
}


/*------------------------------------*\
    #Подвал (Footer)
\*------------------------------------*/
.footer {
    background-color: transparent;
    height: auto;
}

.inform {
    background-color: transparent;
    padding: 1.2% 0;
}

.contacts {
    background-color: transparent;
    padding: 3.1% 15px;
    font-size: 104%;
    font-weight: bold;
    color: #E6E6DC;
}

@media all and (max-width: 1000px) {
    .contacts {
        text-align: center;
    }
}

.copyright {
    background-color: transparent;
    padding: 0;
}

    .copyright p {
        text-align: right;
        margin: 0;
        color: #dedede;
        font-size: 130%;
        padding: 9.4% 0;
    }

        .copyright p a {
            color: #dedede;
            text-decoration: underline;
        }

        .copyright p a:hover {
            text-decoration: none;
        }





/*------------------------------------*\
    #Главное меню (Main menu)
\*------------------------------------*/
.main-menu {
    width: 74px;
    position: fixed;
    top: 27%;
    right: 0;
    z-index: 100;
}

.nav-pills > li {
    float: right;
    width: 62px;
    height: auto;
    background-color: #fff;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus {
    background-color: #fff;
}

.nav-pills > li.active > a:hover {
    background-color: #1e2023;
}

    .nav-pills > li:hover {
        background-color: #1e2023;
        width: 165px;
    }

        .nav-pills > li span {
            display: none;
        }

        .nav-pills > li:hover span {
            display: inline-block;
            max-width: 80px;
        }

        .nav-pills > li a {
            background-color: #fff;
            color: #000;
            border-radius: 0;
            padding: 0;
        }

        .nav-pills > li:hover a {
            background-color: #1e2023;
            color: #fff;
            padding: 0;
        }

            .nav > li > a > img {
                max-width: none;
                padding-right: 5px;
            }

            .nav > li:hover > a > img {
                -webkit-filter: invert(100%);
                -moz-filter: invert(100%);
                -ms-filter: invert(100%);
                -o-filter: invert(100%);
                filter: invert(100%);
            }