body {
    background: black url(../images/bg-bckg.jpg);
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}





.container {
    background-color: #0a001f;
    max-width: 1260px;
    width: 100%;
}





/*------------------------------------*\
    #Шапка (Header)
\*------------------------------------*/
.header {

}


.phone {
    padding: 4% 0;
}
    .phone span {
        display: inline-block;
        font-weight: bold;
        color: #fff;
        text-decoration: none;
    }

        .phone span a {
            font-weight: bold;
            color: #fff;
            text-decoration: none;
        }

        .phone span a:hover {
            color: #eae9e9;
            text-decoration: none;
        }

    .phone__phone {
        font-size: 2em;
    }

    .glyphicon-earphone {
        font-size: 2em;
        display: inline !important;
        margin-right: -4%;
    }

    .phone__email {
        font-size: 1.5em;
        padding-left: 14%;
    }


.name {
    background-color: transparent;
    text-align: center;
    height: auto;
    padding: 5% 0;
}

    .name a {
        font-family: 'Open Sans', sans-serif;
        color: #fff;
        text-decoration: none;
        font-weight: 600;
        font-size: 3em;
    }

        .name a:hover {
        text-decoration: none;
        color: #eae9e9;
        }


.logo {
    padding: 0;
}





/*------------------------------------*\
    #Слайдер (Slider)
\*------------------------------------*/
.slider {
    background-color: #7F007F;
}





/*------------------------------------*\
    #Контентная часть (Content)
\*------------------------------------*/
.content {
    background-color: #945904;
}

.sqr-block {
    background-color: #aa1111;
}





/*------------------------------------*\
    #Подвал (Footer)
\*------------------------------------*/
.footer {
    background-color: #859900;
}

.inform {
    background-color: chocolate;
}

.contacts {
    background-color: darkviolet;
}

.copyright {
    background-color: darkred;
}
